.color-example {
    color: maroon;
    background-color: #dac1ac; 
    border: 2px solid saddlebrown;
}


.header-example {
    font-size: 2em; 
    font-family: Verdana, serif; 
    color: rosybrown; 
}


.list-example {
    list-style-type: square;
    color: firebrick;
}


.text-example {
    font-family:'Courier New', monospace;
    font-size: 1.2em; 
    text-transform: capitalize; 
    text-decoration: underline; 
}


.div-example {
    background-color: mistyrose;
    border: 2px solid darkorchid;
}    